ol li::marker{
    color: white;
}

ul li::marker{
    color: white;
}

.class1{
    background-color: rgb(0, 255, 255);
}

.class2{
    background-color: rgb(17, 236, 17);
}

.fButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold{
    font-weight: bold;
}