body{
    background-color: #1E2420;
}
header{
    position: static; top: 0; left: 0; width: 100%;
    border-bottom: solid 2px #fff;
    background-color: #1E2420;
}
footer{
    position: static; bottom: 0; left: 0; width: 100%;
    border-top: solid 2px #fff;
    background-color: #1E2420;
}
main{
    position: static; left: 0; width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container{
    max-width: 1382px;
    margin: 0.5% auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.task-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.author{
    text-align: center;
}
.company-name {
    text-transform: uppercase;
    font-size: 28px;
}
.header-container{
    align-items: center;
}
.header-logo{
    align-items: center;
}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header-nav-el {
    text-transform: uppercase;
}
.text{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
.registration {
    text-transform: uppercase;
    font-family: sans-serif;
}
.footer-container >div{
    width: 33%;
    margin: 1%;
}
.social-networks-container{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.img{
    width: 36px;
    height: 36px;
}
.imgFurn{
    width: 320px;
    height: 320px;
}
.css-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dummy-text{
    display: flex;
    flex-direction: column;
    width: 700px;
}



.content-aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}



 /* Изображение лампы с помощью css */
.lamp{
    position: relative;
    display: block;
    width: 65px;
    height: 70px;
}
.base{
    content: "";
    position: absolute;
    width: 25px; 
    height: 5px;
    bottom: 0px;
    left: 1px;
    border: solid #fff;
    border-radius: 50% 50% 0 0;
    background-color: #1E2420;
}
.rect-1{
    content: "";
    position: absolute;
    left: 5px;
    width: 5px; 
    height: 20px;
    bottom: 5px;
    border: solid #fff;
    border-bottom: transparent;
    transform: skew(25deg);
}
.circle-1{
    content: "";
    position: absolute;
    bottom: 22px;
    left: 0px;
    width: 9px;
    height: 9px;
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #fff;
    background-color: #1E2420;
}
.rect-2{
    content: "";
    position: absolute;
    left: 16px;
    width: 2.5px; 
    height: 20px;
    bottom: 30px;
    border:1px solid #fff;
    border-bottom: transparent;
    transform: skew(-50deg, 50deg);
    background-color: #1E2420;
}
.rect-3{
    content: "";
    position: absolute;
    left: 30px;
    width: 1px; 
    height: 5px;
    bottom: 49px;
    background-color: #fff;
    border-bottom: transparent;
    transform: skew(-50deg, 50deg);
}
.rect-4{
    content: "";
    position: absolute;
    left: 32px;
    width: 12px; 
    height: 10px;
    bottom: 54px;
    border:1px solid #fff;
    border-radius: 50% 0 0 50% ;
    transform: skew(-50deg, 50deg);
    background-color: #1E2420;
}






.puzzle-container{
    height: 1200px;
    width: 1200px;
    background-color: #1590bc;

}



.owl {
	width: 480px;
	margin:20px auto;
  
}


.head {
    position: absolute;
	width: 400px;
	height: 370px;
	background-color: #171717;
	border-radius: 50%;
	margin: auto;
}



.ear-1{
    position: absolute;
	width: 0; 
	height: 0; 
	border-left: 90px solid transparent;  
	border-right: 90px solid transparent; 
	border-bottom: 160px solid #171717; 
	font-size: 0;
	line-height: 0;
	float: left;
	margin-right: 60px;
    transform: rotate(35deg);
}


.ear-1:first-child {
    transform: rotate(-35deg);
}

.ear-2{
    position: absolute;
	width: 0; 
	height: 0; 
	border-left: 90px solid transparent;  
	border-right: 90px solid transparent; 
	border-bottom: 160px solid #171717; 
	font-size: 0;
	line-height: 0;
	float: left;
	margin-right: 60px;
    transform: rotate(35deg);
}


.ear-2:first-child {
    transform: rotate(-35deg);
}

.eyes {
	clear: both;
	width: 350px;
	position: relative;
	top: 25px;
	left: 53px;
}

.eye-1 {
	width: 120px;
	height: 120px;
	background-color: #FFFFFF;
	border-radius: 50%;
	float: left;
	
}

.eye-1:first-child {
	margin-right: 50px;
}

.eye-2 {
	width: 120px;
	height: 120px;
	background-color: #FFFFFF;
	border-radius: 50%;
	float: left;
	
}

.eye-2:first-child {
	margin-right: 50px;
}

.pupil {
	position: relative;
    left: 20px;
	top:20px;
	background-color: #000000;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation-name: an-pupils;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

.pupil_ref {
	background-color: #FFFFFF;
	border-radius: 45%;
	width: 30px;
	height: 30px;
	position: relative;
	top: 25px;
	left: 25px;

}

.nose {
	width: 45px;
	height: 30px;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	background-color: #FFFFFF;
	position: relative;
	top: 160px;
	left: 175px;
}


